/* General styling */
.navbar {
  background-color: #182726;
  color: #23e7dd;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.Nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding {
  display: flex;
  align-items: center;
}

.nav-branding img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.hub {
  font-weight: bold;
}

.nav-link-container {
  display: flex;
  align-items: center;
}

.login {
  background: rgb(255, 255, 255);
  width: 45px;
  height: 10px;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
}

.nav-link-container ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links {
  margin: 0 15px;
  font-weight: bold;
  border: none;
}

.navs {
  color: #fff;
  text-decoration: none;
}

.navs:hover {
  text-decoration: underline;
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 2%;
  background-color: #fff;
  margin: 4px 0;
}

/* Meal Planner toggle button */
.meal-planner-toggle {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px;
  text-decoration: none;
}

.meal-planner-toggle:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-link-container {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #d8d8d8;
    flex-direction: column;
    align-items: center;
  }

  .nav-link-container.open {
    display: flex;
  }

  .nav-link-container ul {
    flex-direction: column;
  }

  .nav-links {
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }
}


/* src/Navbar.css */
.nav-button {
  padding: 10px;
  background-color: transparent;
  color: rgb(30, 240, 240);
  border: 2px solid rgb(30, 240, 240);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
  font-weight: bold;
}

.nav-button:hover {
  background-color: rgb(30, 240, 240);
  color: white;
}

